/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

body {
  background: #1E2021;
  padding-bottom: 4em;
}
